<h1>This is the index view</h1>


<div class="container">
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="col-sm-3">
        <%= link_to tool_path(tool), class:"card" do %>
          <div  class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          <% if tool.photo? %>
            url('<%= cl_image_path tool.photo, height: 250, width: 300, crop: :fill, gravity: "faces" %>')
          <% else %>
            url('https://picsum.photos/300/200/?random')
          <% end %>
          ">
            <div class="card-category"><p><%= tool.category %></p></div>
            <div> <%= tool.name%></div>
            <div class="card-description"><p><%= tool.description %></p></div>
          <% end  %>
          <div class="destroy">
            <%= link_to tool_path(tool), method: :delete, data: {:confirm => 'Are you sure?'}, class:"far fa-trash-alt" do %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= link_to 'Add new tool', new_tool_path %>
  </div>
</div>
