<div class="container">
  <h1> Choose a tool</h1>
  <div class="row">
    <div class="col-sm-12 col-sm-offset-0">
      <%= form_tag tools_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a tool"
      %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @tools.each do |tool| %>
      <%= render 'card', tool: tool %>
    <% end %>
  </div>

  <div class="row">
    <div class="navigate_to">
      <% if policy(Tool).create? %>
        <%= link_to 'Add new tool', new_tool_path %>
      <% end %>
      <%= link_to 'Dashboard', dashboard_path %>
    </div>
  </div>
</div>

