
<div class="banner_show" style="background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.17) 0%, rgba(0, 36, 61, 0.5) 50%),
  url('http://treibholzeffekt.com/wp-content/uploads/2014/12/Werkzeuge_dunkel.jpg')">
  <div class="container">
    <div class="row banner-container">
      <div class="col-md-8 col-md-offset-2 banner-show">
          <h2><%= @tool.name %></h2>
          <p><%= @tool.description %></p>
          <h4><%= @tool.category %></h4>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="img-rounded" style="background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.26) 0%, rgba(0, 36, 61, 0.19) 50%),
              <% if @tool.photo? %>
                url('<%= cl_image_path @tool.photo, height: 800, width: 1500, crop: :fill %>')
              <% elsif !@tool.picture_url.nil? %>
                  url(<%= @tool.picture_url %>)
              <%else %>
                url('http://treibholzeffekt.com/wp-content/uploads/2014/12/Werkzeuge_dunkel.jpg')
              <%end %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

      <div>
        <% if policy(@tool).destroy? %>
          <%= link_to "Delete", tool_path(@tool), method: :delete %>
        <% end %>
      </div>
      <!-- <div>
         link_to "Return", tools_path
      </div> -->
      <!-- Add Date picker -->

      <%= simple_form_for(@booking, url: bookings_create_path(@tool), method: :post ) do |f| %>

          <div class="form-group form-inline">
            <div class="col-sm-12 book-info">
              <!-- <div class="date_form_picker"> -->
                <div class="input-group date" id='datetimepicker6'>
                  <input type="text" placeholder="Start Date" name="booking[start_date]" class="form-control">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="input-group date" id='datetimepicker7'>
                  <input type="text" placeholder="End Date" name="booking[end_date]" class="form-control">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <div class="book-button">
                  <input class="btn btn-info" type="submit" value="Book" name="commit" required>
                </div>
            </div>
          </div>

      <% end %>



  </div>

  <div class="row">
    <div class="mapcontainer"
      id="map"
      style="width: 100%;
      height: 40vh;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>

  <div class="row">
    <div class="form">
      <% if policy(@tool).update? %>
        <%= render 'shared/form' %>
      <% end %>
    </div>
  </div>
</div>


