
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
  <% if @tool.photo? %>
    url('<%= cl_image_path @tool.photo, height: 800, width: 1500, crop: :fill %>')
  <%else %>
    url('http://treibholzeffekt.com/wp-content/uploads/2014/12/Werkzeuge_dunkel.jpg')
  <%end %>">

  <div class="container">
    <div class="col-md-6" >
      <h2><%= @tool.name %></h2>
      <h3><%= @tool.description %></h3>
    </div>
    <div class="col-md-6">
      <img src=" https://picsum.photos/300/200/?random" alt="" class="img-rounded">
    </div>
  </div>
</div>

  <div class="container">
    <div class="text_description">
      <%= link_to "Delete", tool_path(@tool), method: :delete %>
      <%= link_to "Return", tools_path %>
      <%= link_to "Book", toolbox_path %>

      <%= link_to "Message", message_path(@tool) %>
      <% if policy(@tool).update? %>
      <%= render 'shared/form' %>
      <% end %>
    </div>
  </div>


