
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
    <% if @tool.photo? %>
      url('<%= cl_image_path @tool.photo, height: 800, width: 1500, crop: :fill %>')
    <% elsif !@tool.picture_url.nil? %>
      url(<%= @tool.picture_url %>)
    <% else %>
      url('https://picsum.photos/800/1500/?random')
    <% end %>">
</div>


<div class="tool_info">
  <% if policy(@tool).destroy? %>
    <%= link_to "Delete", tool_path(@tool), method: :delete %>
  <% end %>
  <%= link_to "Return", tools_path %>
  <%= link_to "Book", toolbox_path %>
</div>

<%= link_to "Message", message_path(@tool) %>


<% if policy(@tool).update? %>
  <%= render 'shared/form' %>
<% end %>



